{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" >
    <title>Umiz!</title>
</head>
<body>

    <header>
        <h1>Umiz - Fun Learning Platform</h1>
        <p>Engage, Learn, and Have Fun!</p>
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'register_url' %}">Log In</a>
        {% endif %}
    </header>

    <section>
        <h2>Welcome to Umiz</h2>
        <p>Umiz is a web app designed for interactive and engaging learning experiences, similar to Kahoot.</p>
        <p>Immerse yourself in a world of knowledge and fun quizzes!</p>
    </section>

    <footer>
        <p>&copy; 2023 Umiz - All rights reserved.</p>
    </footer>

</body>
</html>
